<article *ngIf="data" >
        <h2>{{ dateDescription }} {{ date | date:'fullDate'}}</h2>
        <p>Cityname: {{ cityName }}</p>
        <p>Clouds: {{ cloudCover | percent:'1.1-8' }}</p>
        <p>Temperature: {{ temparature | tempConverter:'C' }}{{ '℃' }}</p>
        <p>Wind speed: {{ windSpeed }} {{ 'km/h' }}</p>
        <p>Visibility: {{ visibility }} {{ 'km' }}</p>
        <p>Summary: {{ summary }}</p>
        <div [ngSwitch]="iconType" class="icon-weather">
            <img *ngSwitchCase="'clear-day'" [src]="'../../../assets/weather/day-clear.png'">
            <img *ngSwitchCase="'clear-night'" [src]="'../../../assets/weather/clear-night.png'">
            <img *ngSwitchCase="'rain'" [src]="'../../../assets/weather/rain.png'">
            <img *ngSwitchCase="'snow'" [src]="'../../../assets/weather/snow.png'">
            <img *ngSwitchCase="'sleet'" [src]="'../../../assets/weather/sleet.png'">
            <img *ngSwitchCase="'wind'" [src]="'../../../assets/weather/wind.png'">
            <img *ngSwitchCase="'fog'" [src]="'../../../assets/weather/fog.png'">
            <img *ngSwitchCase="'cloudy'" [src]="'../../../assets/weather/cloudy.png'">
            <img *ngSwitchCase="'partly-cloudy-day'" [src]="'../../../assets/weather/day_partly_cloudy.png'">
            <img *ngSwitchCase="'partly-cloudy-night'" [src]="'../../../assets/weather/night_partly_cloudy.png'">
            <img *ngSwitchCase="'hail'" [src]="'../../../assets/weather/hail.png'">
            <img *ngSwitchCase="'thunderstorm'" [src]="'../../../assets/weather/thunderstorm.png'">
            <img *ngSwitchCase="'tornado'" [src]="'../../../assets/weather/tornado.png'">
            </div>
</article>
