@import url(https://fonts.googleapis.com/css?family=League+Script);
html {
}

body {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0.73) 100%);
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
}

p {
    padding-top: 30px;
}

.container {
    height: 100vh;
    background: url(https://wallpaperscraft.ru/image/les_derevya_mrachnye_tuman_mgla_temnota_50175_3840x2160.jpg);
    background-size: cover;
        background-repeat: no-repeat;

}

h1 {
    animation: flicker-red 0.8s linear infinite;
    font-size: 15vw;
    animation-delay: -0.3s;
}

h2 {
    animation: flicker-green 0.8s linear infinite;
    font-size: 10vw;
}

h1,
h2 {
    flex: 0 0 100%;
    text-align: center;
    font-family: "League Script";
    margin: auto;
}

@keyframes flicker-red {
    0%,
    14%,
    26%,
    39%,
    50%,
    84% {
        opacity: 1;
        color: #ffb2b2;
        -webkit-filter: blur(1px) drop-shadow(0 0 1px red) drop-shadow(0 0 1px #ff0040) drop-shadow(0 0 2px #ff4000);
        filter: blur(1px) drop-shadow(0 0 1px red) drop-shadow(0 0 1px #ff0040) drop-shadow(0 0 2px #ff4000);
    }
    15%,
    25%,
    40%,
    49%,
    85%,
    100% {
        opacity: 0.4;
        color: #c1b2b2;
        -webkit-filter: blur(0px) drop-shadow(0 0 0px #320000) drop-shadow(0 0 0px #32000c) drop-shadow(0 0 0px #320d00);
        filter: blur(0px) drop-shadow(0 0 0px #320000) drop-shadow(0 0 0px #32000c) drop-shadow(0 0 0px #320d00);
    }
}

@keyframes flicker-green {
    0%,
    14%,
    26%,
    39%,
    50%,
    84% {
        opacity: 1;
        color: #b2d8b2;
        -webkit-filter: blur(1px) drop-shadow(0 0 1px green) drop-shadow(0 0 1px #208000) drop-shadow(0 0 2px #008020);
        filter: blur(1px) drop-shadow(0 0 1px green) drop-shadow(0 0 1px #208000) drop-shadow(0 0 2px #008020);
    }
    15%,
    25%,
    40%,
    49%,
    85%,
    100% {
        opacity: 0.4;
        color: #b2bab2;
        -webkit-filter: blur(0px) drop-shadow(0 0 0px #001900) drop-shadow(0 0 0px #061900) drop-shadow(0 0 0px #001906);
        filter: blur(0px) drop-shadow(0 0 0px #001900) drop-shadow(0 0 0px #061900) drop-shadow(0 0 0px #001906);
    }
}

@keyframes floating {
    0% {
        transform: translate3d(0, 0, 0);
    }
    45% {
        transform: translate3d(0, -10%, 0);
    }
    55% {
        transform: translate3d(0, -10%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes floatingShadow {
    0% {
        transform: scale(1);
    }
    45% {
        transform: scale(0.85);
    }
    55% {
        transform: scale(0.85);
    }
    100% {
        transform: scale(1);
    }
}

body {
    background-color: #f7f7f7;
}

.container {
    font-family: 'Josefin Sans', sans-serif;
    color: #f44336;
    position: relative;
    height: 78vh;
    text-align: center;
    font-size: 16px;
}

.container h1 {
    font-size: 32px;
    margin-top: -32px;
    padding-top: 34px;
}

.boo-wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    paddig-top: 64px;
    paddig-bottom: 64px;
}

.boo {
    width: 160px;
    height: 184px;
    background-color: #f7f7f7;
    margin-left: auto;
    margin-right: auto;
    border: 3.39394px solid #9B9B9B;
    border-bottom: 0;
    overflow: hidden;
    border-radius: 80px 80px 0 0;
    box-shadow: -16px 0 0 2px rgba(234, 234, 234, 0.5) inset;
    position: relative;
    padding-bottom: 32px;
    animation: floating 3s ease-in-out infinite;
}

.boo::after {
    content: '';
    display: block;
    position: absolute;
    left: -18.82353px;
    bottom: -8.31169px;
    width: calc(100% + 32px);
    height: 32px;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    background-position: left bottom;
    background-image: linear-gradient(-45deg, #f7f7f7 16px, transparent 0), linear-gradient(45deg, #f7f7f7 16px, transparent 0), linear-gradient(-45deg, #9b9b9b 18.82353px, transparent 0), linear-gradient(45deg, #9b9b9b 18.82353px, transparent 0);
}

.boo .face {
    width: 24px;
    height: 3.2px;
    border-radius: 5px;
    background-color: #9b9b9b;
    position: absolute;
    left: 50%;
    bottom: 56px;
    transform: translateX(-50%);
}

.boo .face::before,
.boo .face::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
}

.boo .face::before {
    left: -24px;
}

.boo .face::after {
    right: -24px;
}

.shadow {
    width: 128px;
    height: 16px;
    background-color: rgba(234, 234, 234, 0.75);
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    animation: floatingShadow 3s ease-in-out infinite;
}

flicker-red {
    0%,
    14%,
    26%,
    39%,
    50%,
    84% {
        opacity: 1;
        color: #ffb2b2;
        -webkit-filter: blur(1px) drop-shadow(0 0 1px red) drop-shadow(0 0 1px #ff0040) drop-shadow(0 0 2px #ff4000);
        filter: blur(1px) drop-shadow(0 0 1px red) drop-shadow(0 0 1px #ff0040) drop-shadow(0 0 2px #ff4000);
    }
    15%,
    25%,
    40%,
    49%,
    85%,
    100% {
        opacity: 0.4;
        color: #c1b2b2;
        -webkit-filter: blur(0px) drop-shadow(0 0 0px #320000) drop-shadow(0 0 0px #32000c) drop-shadow(0 0 0px #320d00);
        filter: blur(0px) drop-shadow(0 0 0px #320000) drop-shadow(0 0 0px #32000c) drop-shadow(0 0 0px #320d00);
    }
}

@keyframes flicker-green {
    0%,
    14%,
    26%,
    39%,
    50%,
    84% {
        opacity: 1;
        color: #b2d8b2;
        -webkit-filter: blur(1px) drop-shadow(0 0 1px green) drop-shadow(0 0 1px #208000) drop-shadow(0 0 2px #008020);
        filter: blur(1px) drop-shadow(0 0 1px green) drop-shadow(0 0 1px #208000) drop-shadow(0 0 2px #008020);
    }
    15%,
    25%,
    40%,
    49%,
    85%,
    100% {
        opacity: 0.4;
        color: #b2bab2;
        -webkit-filter: blur(0px) drop-shadow(0 0 0px #001900) drop-shadow(0 0 0px #061900) drop-shadow(0 0 0px #001906);
        filter: blur(0px) drop-shadow(0 0 0px #001900) drop-shadow(0 0 0px #061900) drop-shadow(0 0 0px #001906);
    }
}
