<form>
    <md-form-field>
        <input type="text" placeholder="Enter the city..." aria-label="Number" mdInput [mdAutocomplete]="auto" [(ngModel)]="userSearch"
            name="userSearch" (input)="searchCity()" (change)="validation()">
        <md-autocomplete #auto="mdAutocomplete">
                <div *ngIf="isValidSearch">
            <md-option (click)="showIt(option)" (click)="showThat()" *ngFor="let option of seachedLocations" [value]="option.name">
                        {{ option.name }}
            </md-option>
        </div>
        </md-autocomplete>
    </md-form-field>
</form>
