<form>
    <form class="example-form">
        <md-form-field class="example-full-width">
          <input type="text" placeholder="Enter the city..." aria-label="Number" mdInput [mdAutocomplete]="auto" [(ngModel)]="userSearch" name="userSearch"  (input)="searchCity()">
          <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let option of userSearch" [value]="option">
              {{ option }}
            </md-option>
          </md-autocomplete>
        </md-form-field>
      </form>
</form>

