@import url('https://fonts.googleapis.com/css?family=Prompt');

h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #E91E63;
    position: relative;
    display: inline;
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
}


h1::before {
    width: 140%;
    height: 2px;
    content: '';
    display: block;
    background: #009688;
    margin: 0 auto;
    position: absolute;
    top: 15px;
    z-index: -1;
    left: -20%;
    right: 0;
}



.choosed {
    color: #00bcd4;
    border-bottom: 2px solid #E91E63;
}

.choosed::first-letter {
    font-size: 50px;
}

/*  */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
html,body{
  margin:0;
  height:120%;
  font-family: 'Josefin Sans', sans-serif;
}


@media screen and (max-width: 992px) {
    h1 {
        font-size: 18px;
        padding-right: 5px;
        padding-left: 5px;
    }

    h1::before {
        top: 8px;
        width: 116%;
        left: -8%;
    }
}


@media screen and (max-width: 400px) {
    h1::before {
        content: none;
    }
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}