<!-- <app-todo></app-todo> -->
<header>
    <a routerLink="todoList">
        <div class="logo">
            <img src="../favicon.ico" alt="">
            <h1>{{ title }}</h1>
        </div>
    </a>
    <div class="footer-social-links">
        <a routerLink='/todoList' title="Homepage" routerLinkActive="active-link"><i class="fa fa-home"></i></a>
        <a routerLink='/weather' title="Weather" routerLinkActive="active-link"><i class="fa fa-cloud"></i></a>
        <a routerLink='/author' title="Author About" routerLinkActive="active-link"><i class="fa fa-user-circle-o"></i></a>
    </div>
</header>
<main>
    <router-outlet></router-outlet>
</main>
