.todo-form,
.todo-list {
    border-radius: 2px;
    width: 100%;
    background-color: white;
}

.todo-item {
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    padding: 1.5rem;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: #000;
    box-shadow: 1px 1px 2px 0px;
    display: flex;
    text-align: left;
    justify-content: space-between;
    color: #1976D2;
    width: 40%;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.todo-accent {
    box-shadow: 1px 1px 2px 1px #ffd740!important;
}


/* text on the item */

.todo-item span {
    text-align: center;
    padding: 0 5%;
}


/* btn checkbox on item */

.btn-item {
    cursor: pointer;
    zoom: 2;
}


/* btn delete */

.delete {
    font-family: FANTASY;
    border: none;
    border-radius: 3px;
    transition: box-shadow 0.3s ease;
    color: #fff;
    font-size: 30px;
    border-radius: 50%;
    background: #ED2553;
    cursor: pointer;
    padding: 7px 22px;
    box-shadow: 0px 3px 20px 3px rgba(236, 9, 208, 0.19);
    outline: none;
}

.delete:focus {
    outline: none;
}


/* end of btn delete */


/* add this class when item is checked */

.completed {
    color: gray;
    text-decoration: line-through;
    background-color: rgba(71, 77, 85, 0.24);
}


@media screen and (max-width: 992px) {
    .todo-item {
        width: 80%;
    }
}
