<div class="todo-item todo-orange" [class.completed]="item.isComplited">
    <!-- <input type="checkbox" class="btn-item icon" (change)="item.toggleIsCompleted();"> -->
    <md-checkbox class="md-pr" (change)="item.toggleIsCompleted()"></md-checkbox>
    <span>{{ item.title }}</span>
    <div class=" actions ">
        <!-- <button class="delete " [ngClass]="{ 'completed-btn' : item.completed} " (click)='deleteTodoItem()'>-</button> -->
        <button class="mat-fab mat-warn " color="warn " [ngClass]="{ 'completed-btn' : item.completed} " (click)='deleteTodoItem()'>
          <span class="mat-button-wrapper ">-</span>
          <div class="mat-button-ripple mat-ripple mat-button-ripple-round " mat-ripple=" "></div>
          <div class="mat-button-focus-overlay "></div>
        </button>
    </div>
</div>